# Vs code
.vscode/

# JetBrains IDE
.idea/

# Django migrations
#**/migrations/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Extensions to ignore
*.log
*.pot
*.pyc
*.env
*.sqlite3
.env
# Python environments
venv/